
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 8px;
    font-family: monospace;
    background-color: #F1F1F1;
    scroll-behavior: smooth;
}

.head-boxs{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    background-color: gray;
    margin: 10px;
}
.hhbox{
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: gray;
    margin: 10px;

}

.vhbox {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    align-items: center;
    background-color: rgb(121, 30, 30);
    margin: 10px;
}

.hboxs{
    display: flex;
    border: 2px solid whitesmoke;
    background-color: greenyellow;
    width: 600px;
    height: 100px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.main-boxs{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    background-color: blue;
    margin: 10px;

}

.mboxs{
    display: flex;
    border: 2px solid whitesmoke;
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 50px;
}
ul {
    list-style: none;
}
h2{
    font-size: 25px;
}
.mboxs:nth-child(even){

    background-color: violet;
}

.footer-boxs{
    display: flex;
    flex-direction: row;
    background-color: brown;
    justify-content: space-between;
    margin: 10px;
}

.fbox {
    display: flex;
    background-color: olivedrab;
    margin: 25px;
    height: 500px;
    margin-top: 0;
    
}

.flist {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-content: center;
    background-color: olivedrab;
    border: 2px solid salmon;
    background-color: palevioletred;
    width: 150px;
    margin: 25px;
    margin-bottom: 0;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    border: 1px solid orange;
    margin: 10px;
    width: 100px;
    height: 100px;
}
